<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <h1 class="navbar-item" id="title">
            Tech Blog!
          </h1>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
              <a class="navbar-item" href="/posting">
                Profile
              </a>
              {{#if loggedIn}}
              <a class="navbar-item" id="logout">
                Logout
              </a>
              {{/if}}
              </div>
            </div>
     
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
              </div>
            </div>
          </div>
        </div>
      </nav>
      <main>
          {{{ body }}}
      </main>
       {{#if loggedIn}}
      <script src="./script/logout.js"></script>
       {{/if}}
</html>