<div class="field">
        <label class="label">Title of your post</label>
        <div class="control">
          <input class="input" type="text" placeholder="What's the topic?">
        </div>
      </div>
      <div class="field">
        <label class="label">Whatcha wanna say?</label>
        <div class="control">
          <textarea class="textarea" placeholder="Pour your heart out!"></textarea>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button id="newPost" class="button is-link">Post</button>
        </div>
<script src="../public/script/posting.js"></script>