<div class="field">
        <p class="control has-icons-left has-icons-right">
          <input id="username-signup" class="input" type="email" placeholder="Username">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input id="password-signup" class="input" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input id="email-signup" class="input" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control">
          <button id="signup" class="button is-success">
            Sign-up
          </button>
          <a id="sendToSignup" href="/login">
            Login Instead
          </a>
        </p>
      </div>
<script src="./script/signup.js"></script>